<!DOCTYPE html>
<html lang="en">

    <!-- Following inclusion contains the HEAD tag data -->
    {% include 'head.html' %}
    <head>
        <!-- scripts: Chart libs -->
            <!-- Older Chart <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>-->
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>


            <!-- Navbar Area -->
            {% include 'navbar.html' %}

            <!-- Content Area -->
            <div class="container">
                <br/><br/><br/><br/>
                <!--<p> For DEBUG purpose, PAGE_NAME = {{ pagename }} </p>-->

                <div class="row">
                    <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Dashboard View</h5>
                            <p class="card-text">
                                This page is for the consolidated view for all automation jobs at one single place to make Testers/Manager/Devs life easy. <br/>
                                In case you want to modify something, go to the settings page.
                            </p>
                            <p class="card-text">
                                <a href="#" class="btn btn-outline-primary"> Settings </a>
                            </p>

                          </div>
                        </div>
                    </div>
                </div> <br/><br/>


                <!-- Summary view card -->
                <div class="row m-b-1 align-items-center">

                    <!-- Loading all the projects available -->
                    {%if data|length >= 1 %}
                        {% for project in data %}
                            <div class="col-md-6">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title"> {{ project['project_name'] }} </h5>
                                    <p class="card-text"> </p>
                                    <span class="badge bg-light text-dark"> Report Date: {{ project.report_date }} </span>
                                    <span class="badge bg-light text-dark"> Summary: </span>
                                        <span class="badge bg-success">           {{ ((project['test_result']['pass']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='floor')|int }}% Pass </span>
                                        <span class="badge bg-danger">            {{ ((project['test_result']['fail']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Fail </span>
                                        <span class="badge bg-warning text-dark"> {{ ((project['test_result']['error']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Error </span>
                                        <span class="badge bg-secondary">         {{ ((project['test_result']['skipped']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Skipped </span>
                                        <span class="badge bg-dark" onclick="toggleCharts('{{ project.project_name|replace(' ' , '')|replace('-' , '') }}');" style="cursor: pointer;" data-bs-toggle="tooltip" title="Toggle between Bar/Doughnut Charts"> Charts </span>

<!--                                    <span class="badge bg-light text-dark"> Options: &nbsp;-->
<!--                                        <button class="btn btn-sm btn-outline-primary" onclick="toggleCharts('{{ project.project_name|replace(' ' , '')|replace('-' , '') }}');"> Toggle Charts </button>-->
<!--                                    </span>-->
                                  </div>
                                  <hr style="margin: none; padding: 0;"/>
                                  <div class="card-body align-items-center" style="/* Lets don't set H/W; height:40vh; width:42vw; */">
                                        <!-- Here goes our charts -->
                                        <canvas style="display: block;" class="doughnutChartCanvas" id="doughnutChart_{{ project.project_name|replace(' ' , '')|replace('-' , '') }}"></canvas>
                                        <canvas style="display: none;" class="barChartCanvas" id="barChart_{{ project.project_name|replace(' ' , '')|replace('-' , '') }}"></canvas>
                                  </div>
                                </div> <br/>
                            </div>
                        {%endfor%}
                    {%else%}
                            <!-- Show no data, because data is empty -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <p>
                                            No projects available yet, consider creating one
                                        </p>
                                        <p>
                                            <a href="/create-new-space" class="btn btn-outline-primary"> Create new space </a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                    {%endif%}
                </div> <br/><br/>

            </div> <!-- End of the container -->

            <!-- Page Footer Area -->
            {% include 'footer.html' %}

    </body>

    <script type="text/javascript">
        function toggleCharts(projectId){
            var barChartCanvas = document.getElementById("barChart_"+projectId)
            var doughnutChartCanvas = document.getElementById("doughnutChart_"+projectId)
            if(barChartCanvas.style.display == 'none'){
                barChartCanvas.style.display = 'block';
                doughnutChartCanvas.style.display = 'none';
            } else {
                barChartCanvas.style.display = 'none';
                doughnutChartCanvas.style.display = 'block';
            }
        }
    </script>
    <!-- Javascript actions for charts -->
    {%if data|length >= 1 %}
        {% for project in data %}
            <script type="text/javascript">
                  var ctx = document.getElementById("barChart_{{ project.project_name|replace(' ' , '')|replace('-' , '') }}").getContext('2d');

                  // For doughnut chart | pie | polarArea
                  var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for keys, val in project.test_result.items() %}
                                "{{ keys|safe }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                        data: [
                                            {% for keys, val in project.test_result.items() %}
                                            {{ val }},
                                            {% endfor %}
                                        ],
                                        borderColor:[
                                          "rgb(60,186,159,1.0)",
                                          "rgb(196,88,80,1.0)",
                                          "rgb(255,165,0,1.0)",
                                          "rgb(108,117,125,1.0)",
                                          "rgb(100,107,105,1.0)",
                                        ],
                                        backgroundColor: [
                                          "rgb(60,186,159,0.7)",
                                          "rgb(196,88,80,0.7)",
                                          "rgb(255,165,0,0.7)",
                                          "rgb(108,117,125,0.7)",
                                          "rgb(100,107,105,0.7)",
                                        ],
                                        borderWidth: 2,
                                        borderRadius: 5,
                                        borderSkipped: false,
                            }]
                        },
                        options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display:false,
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'LATEST TEST RESULT'
                                    },
                                    colors: {
                                      enabled: true
                                    },

                                },

                                scales: {
                                    y: {
                                        beginAtZero: true
                                    },
                                    xAxes: [{
                                        display: true,
                                    }],
                                    yAxes: [{
                                        display: true,
                                    }],
                                }
                        }

                    });
            </script>
        {%endfor%}
    {%endif%}

    {%if data|length >= 1 %}
        {% for project in data %}
            <script type="text/javascript">
                  var ctx = document.getElementById("doughnutChart_{{ project.project_name|replace(' ' , '')|replace('-' , '') }}").getContext('2d');

                  // For doughnut chart | pie | polarArea
                  var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [
                                {% for keys, val in project.test_result.items() %}
                                "{{ keys|safe }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                        data: [
                                            {% for keys, val in project.test_result.items() %}
                                            {{ val }},
                                            {% endfor %}
                                        ],
                                        borderColor:[
                                          "rgb(60,186,159,1.0)",
                                          "rgb(196,88,80,1.0)",
                                          "rgb(255,165,0,1.0)",
                                          "rgb(108,117,125,1.0)",
                                          "rgb(100,107,105,1.0)",
                                        ],
                                        backgroundColor: [
                                          "rgb(60,186,159,0.7)",
                                          "rgb(196,88,80,0.7)",
                                          "rgb(255,165,0,0.7)",
                                          "rgb(108,117,125,0.7)",
                                          "rgb(100,107,105,0.7)",
                                        ],
                                        borderWidth: 2,
                                        borderRadius: 5,
                                        borderSkipped: false,
                            }]
                        },
                        options: {
                                responsive: true,
                                maintainAspectRatio: true,
                                aspectRatio: 2,
                                cutoutPercentage: 75,
                                cutout: "75%", /* Maybe in new version of chart instead of cutoutPercentage */
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'LATEST TEST RESULT'
                                    },
                                    colors: {
                                      enabled: true
                                    },

                                },
                                scales: {
                                        xAxes: [{
                                            display: false,
                                        }],
                                        yAxes: [{
                                            display: false,
                                        }],
                                }
                        }

                    });
            </script>
        {%endfor%}
    {%endif%}

    <script>
            // Once dom is loaded

            /* To toggle the class for an element. x*/
              function myFunction() {
                  var element = document.body;
                  element.classList.toggle("dark-mode");
              }
    </script>

</html>