<!--
Page Footer
==================
- Expecting 'ui_configuration' object (aka app_data=ui_configuration); Refer app/server/config/uiconfig.py for more.

-->
            <div class="footer">
                <hr/>
                <span class="badge rounded-pill text-bg-dark"> Built with Python3+Flask+Bootstrap5.3 </span>
				<span class="badge rounded-pill text-bg-dark"> by {{app_data['app_author']}} </span>
				<span class="badge rounded-pill text-bg-dark"> {{app_data['app_version']}} Build: [{{app_data['app_experimental_tag']}}]</span>
                <hr/>
            </div>
