<!DOCTYPE html>
<html lang="en">

    <!-- Following inclusion contains the HEAD tag data -->
    {% include 'head.html' %}

    <body>


            <!-- Navbar Area -->
            {% include 'navbar.html' %}

            <!-- Content Area -->
            <div class="container">
                <br/><br/><br/><br/>

                <div class="row">
                    <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">This is an overview of automation report dashboard.</h5>
                            <p class="card-text">
                                This page is for the consolidated view for all automation jobs at one single place to make Testers/Manager/Devs life easy. <br/>
                                It is the overview of the all the test projects for the automation, which has been extracted/crawled
                                either from the jenkins or from the (HTML/Junit xml) report files. <br/>
                                To do any change, goto <a href="/settings" class="btn btn-outline-primary"> Settings page </a>
                            </p>
                            <p class="card-text">
                                DATA FROM SERVER: <br/>
                                {{data}}
                            </p>

                          </div>
                        </div>
                    </div>
                </div> <br/><br/>


                <!-- Summary Cards -->
                <div class="row m-b-1 align-items-center">

                    <div class="col-md-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Total Projects </h5>
                            <p class="card-text">
                                <span class="badge bg-light text-dark" style="font-size: x-large;">
                                    {{ data['TOTAL_PROJECTS_COUNT'] }}

                                <span class="badge bg-sm bg-success" style="font-size: x-small;"> {{data['TOTAL_ACTIVE_PROJECTS']}} Active </span>
                                <span class="badge bg-secondary" style="font-size: x-small;"> {{data['TOTAL_ARCHIVED_PROJECTS']}} Archived </span>
                                </span>
                            </p>
                          </div>
                        </div>
                    </div>
<!--                    <div class="col-md-2">-->
<!--                        <div class="card">-->
<!--                          <div class="card-body">-->
<!--                            <h5 class="card-title"> Total Testcases </h5>-->
<!--                            <p class="card-text"> 199 </p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> No of Executions </h5>
                            <p class="card-text">
                                <span class="badge bg-light text-dark" style="font-size: x-large;">
                                    {{ data["TOTAL_EXECUTIONS_COUNT"] }}
                                </span>
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Average Pass Rate </h5>
                            <p class="card-text">
                                <span class="badge bg-light text-dark" style="font-size: x-large;">
                                    {{ data|length }}

                                <span class="badge bg-sm bg-success" style="font-size: x-small;"> 0 Active </span>
                                <span class="badge bg-secondary" style="font-size: x-small;"> 0 Archived </span>
                                </span>
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Average Fail Rate </h5>
                            <p class="card-text">
                                <span class="badge bg-light text-dark" style="font-size: x-large;">
                                    {{ data|length }}

                                <span class="badge bg-sm bg-success" style="font-size: x-small;"> 0 Active </span>
                                <span class="badge bg-secondary" style="font-size: x-small;"> 0 Archived </span>
                                </span>
                            </p>
                          </div>
                        </div>
                    </div>

                </div> <br/><br/>

                <!-- Other data for overview -->
                <div class="accordion" id="accordionExample">
                      <!-- First item -->
                      <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Project List
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <!-- Show the table for all the available projects -->
                                    <table class="table table-sm table-hover"> <!-- table-bordered border-primary -->
                                          <thead class="table-group-divider">
                                            <tr>
<!--                                              <th scope="col">#</th>-->
                                              <th scope="col">Projects</th>
                                              <th scope="col">Created</th>
                                              <th scope="col">Source</th>
                                              <th scope="col">Status</th>
                                              <th scope="col">Manage</th>
                                            </tr>
                                          </thead>
                                          <tbody class="table-group-divider">
                                                <!-- Loading all the projects available LATEST_EXECUTION_FOR_ACTIVE_PROJECTS -->
                                                {%if data['PROJECTS_LIST']|length >= 1 %}
                                                    {% for project in data['PROJECTS_LIST'] %}
                                                            <tr>
<!--                                                              <th scope="row"> {{project["project_id"]}} </th>-->
                                                              <td scope="row"> {{project["PROJECT_NAME"]}} </td>
                                                              <td> {{project["CREATED"]}} </td>
                                                              <td> {{project["DATA_SOURCE"]}} </td>
                                                              <td> {{project["STATUS"]}} </td>
                                                              <td>
                                                                  <img src="{{url_for('static', filename='images/edit.svg')}}" alt="Edit" width="15px" data-bs-toggle="tooltip" title="Edit the project: {{project['project_name']}}"/>
                                                                  <img src="{{url_for('static', filename='images/archive.svg')}}" alt="Archive" width="15px" data-bs-toggle="tooltip" title="Archive this project: {{project['project_name']}}"/>
                                                              </td>
                                                            </tr>
                                                    {%endfor%}
                                                {%else%}
                                                    <!-- Show no data, because data is empty -->
                                                    <tr>
                                                        <th scope="row" colspan="4"> No projects available yet, consider creating one </th>
                                                        <td> <a href="/create-new-space" class="btn btn-outline-primary"> Create new space </a> </td>
                                                    </tr>
                                                {%endif%}
                                          </tbody>
                                        </table>
                                </div>
                            </div>
                      </div>

                      <!-- Second item -->
                      <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Project latest crawled History
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <!-- Show the table for all the available projects -->
                                    <table class="table table-sm table-hover"> <!-- table-bordered border-primary -->
                                        <thead class="table-group-divider">
                                            <tr>
                                                <!-- <th scope="col">#</th>-->
                                                <th scope="col">Projects</th>
                                                <th scope="col">Source</th>
                                                <th scope="col">Crawled Date</th>
                                                <th scope="col">Results</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                                <!-- Loading latest crawled for active projects available -->
                                                {%if data['LATEST_EXECUTION_FOR_ACTIVE_PROJECTS']|length >= 1 %}
                                                    {% for project in data['LATEST_EXECUTION_FOR_ACTIVE_PROJECTS'] %}
                                                        <tr>
                                                            <!-- <th scope="row"> {{project["project_id"]}} </th>-->
                                                            <td scope="row"> {{project["project_name"]}} </td>
                                                            <td> {{project["source"]}} </td>
                                                            <td> {{project["crawled_date"]}} </td>
                                                            <td> {{project["test_result"]}} </td>
                                                        </tr>
                                                    {%endfor%}
                                                {%else%}
                                                    <!-- Show no data, because data is empty -->
                                                    <tr>
                                                        <th scope="row" colspan="4"> No projects available yet, consider creating one </th>
                                                        <td> <a href="/create-new-space" class="btn btn-outline-primary"> Create new space </a> </td>
                                                    </tr>
                                                {%endif%}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                      </div>
                </div> <br/> <br/>

            </div>

            <!-- Page Footer Area -->
            {% include 'footer.html' %}

    </body>

    <script>

            /* To toggle the class for an element. x*/
              function myFunction() {
                  var element = document.body;
                  element.classList.toggle("dark-mode");
              }
    </script>

</html>