<!DOCTYPE html>
<html lang="en">

    <!-- Following inclusion contains the HEAD tag data -->
    {% include 'head.html' %}

    <body>


            <!-- Navbar Area -->
            {% include 'navbar.html' %}

            <!-- Content Area -->
            <div class="container">
                <br/><br/><br/><br/>

                <div class="row">
                    <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Trends.</h5>
                            <p class="card-text">
                                This page is for the consolidated view for all automation jobs at one single place to make Testers/Manager/Devs life easy. <br/>
                                In case you want to modify something, go to the settings page.
                            </p>
                            <p class="card-text">
                                <a href="#" class="btn btn-outline-primary"> Settings </a>
                            </p>

                          </div>
                        </div>
                    </div>
                </div> <br/><br/>


                <!-- Card for trends -->
                <div class="row m-b-1 align-items-center">

                    {%if data|length >= 1 %}
                        {% for project in data %}
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> Trends for {{project["project_name"]}} </h5>
                                        <p class="card-text"> </p>
                                        <span class="badge bg-light text-dark"> Report Date: {{ project.report_date }} </span>
                                        <span class="badge bg-light text-dark"> Summary: </span>
                                        <span class="badge bg-success">           {{ ((project['test_result']['pass']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='floor')|int }}% Pass </span>
                                        <span class="badge bg-danger">            {{ ((project['test_result']['fail']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Fail </span>
                                        <span class="badge bg-warning text-dark"> {{ ((project['test_result']['error']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Error </span>
                                        <span class="badge bg-secondary">         {{ ((project['test_result']['skipped']*100)/(project['test_result']['pass']+project['test_result']['fail']+project['test_result']['error']+project['test_result']['skipped']))|round(method='ceil')|int }}% Skipped </span>
                                        <span class="badge bg-dark" onclick="toggleCharts('{{ project.project_name|replace(' ' , '')|replace('-' , '') }}');" style="cursor: pointer;" data-bs-toggle="tooltip" title="Toggle between Bar/Doughnut Charts"> Charts </span>
                                    <br/>
                                    </div>
                                </div> <br/>
                            </div>
                        {%endfor%}
                    {%else%}
                        <!-- Show no data, because data is empty -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> Trend data is not available. </h5>
                                    <p class="card-text">
                                        <a href="/" class="btn btn-outline-primary"> Go to Overview instead. </a>
                                    </p>
                                </div>
                            </div>
                        </div> <br/>
                    {%endif%}

                </div> <br/><br/>


            </div> <!-- End of the container -->

            <!-- Page Footer Area -->
            {% include 'footer.html' %}

    </body>

    <script>

            /* To toggle the class for an element. x*/
              function myFunction() {
                  var element = document.body;
                  element.classList.toggle("dark-mode");
              }
    </script>

</html>