/*
====================================================
Custom style for my new pages starts from here
====================================================
*/

/* For every element text should be quite sharp and thin */
* {
     font-weight: 100 !important;
}

/* THIS IS FOR THE THEME TOGGLE */
body {
  background-color: white;
  color: black;
}
.dark-theme {
  background-color: black;
  color: white;
}
.active-link {
    color: white !important;
    text-decoration-style: solid !important;
    text-decoration-line: overline !important;
    text-decoration-thickness: inherit !important;
}
.nav-link:hover {
    color: white !important;
    text-decoration-style: solid !important;
    text-decoration-line: overline !important;
    text-decoration-thickness: inherit !important;
}

.white-font {
    color: white !important;
}

.custom-card {
    border-radius: 3px;
    border-style: double;
}

.sidebar-bottom {
    position: fixed; 
    bottom: 0px; 
    padding: 5px;
}

.footer {
    /*
    position: absolute;
    bottom: 0;
    */
}